@model Student
@{
    ViewData["Title"] = "Register";
}
<div class="container-sm">
    <form method="post">
        <div class="form-group" style="width:50%">
            <div>
                <h1 class="display-4">Register</h1>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name"/>
                </div>
                <div class="col">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name"/>
                    </div>
            </div>
            <div>
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email" />
            </div>
            <div>
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
            <div class="my-3" >
                <button class="btn">Create Account</button>
            </div>
        </div>
    </form>
</div>
